<footer class="site-footer">

  <div class="row">
    <div class="col-md-6 col-12 footer-left">
        <a  href="#">Acerca da <em>Antologia </em> </a> / <a href="#">Autores & «Antologiadores»</a>
    </div>



      <div class="col-md-6 footer-right col-12">
        <span class="categories">+ { {{ page.categories }} } = </span>

        {% assign maxRelated = 10 %}
        {% assign minCommonTags =  1 %}
        {% assign maxRelatedCounter = 0 %}

        {% for post in site.posts %}

            {% assign sameTagCount = 0 %}
            {% assign commonTags = '' %}

            {% for category in post.categories %}
              {% if post.url != page.url %}
                {% if page.categories contains category %}

                  {% assign sameTagCount = sameTagCount | plus: 1 %}
                   {% capture tagmarkup %} {% endcapture %}
                  {% assign commonTags = commonTags | append: tagmarkup %}
                {% endif %}
              {% endif %}
            {% endfor %}

            {% if sameTagCount >= minCommonTags %}
              
              <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}{{ commonTags }}</a> / 

              {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
              {% if maxRelatedCounter >= maxRelated %}
                {% break %}
              {% endif %}
            {% endif %}
          

          {% endfor %}
      </div>
    </div>

  </div>

</footer>
