<footer class="site-footer">

  <div class="row">
    <div class="col-md-6 col-12 footer-left">
        <a  href="/about/">Acerca da <em>Antologia </em> </a> / <a href="/autores.html">Autores & «Antologiadores»</a>  / <a href="/gerador.html">Gerador</a>
    </div>



      <div class="col-md-6 footer-right col-12">
        <span class="categories">imprimir</span> + <span class="categories">gravar como pdf</span> + <a href="mailto:ruisilva@alfaiataria.org">ruisilva@alfaiataria.org</a>
      </div>
    </div>

  </div>

</footer>
