{% assign css_list = site.categories %}  
      {% if css_list.first[0] == null %}
        {% for css in css_list %} 
        {% endfor %}
      {% else %}
        {% for css in css_list %} 

        #g{{ css[0] }} {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}1 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}2 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}3 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}4 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}5 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}6 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}7 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}8 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}9 {
          display: none;
          visibility: hidden;
          width: 0;
          height: 0;
        }

        #{{ css[0] }}1.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}2.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}3.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}4.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}5.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}6.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}7.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}8.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #{{ css[0] }}9.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        #g{{ css[0] }}.g-visible {
            display: block;
            visibility: visible;
            width: 100%;
            height: 100%;
          }

        {% endfor %}
      {% endif %}
{% assign tags_list = nil %}