<script type="text/javascript">
  
  var a = Array("agriculture", "alarm", "antiquity");
  var b = Array("beach", "burning", "business");
  var c = Array("camera", "canal");
  var d = Array("dancing", "desert", "dress");
  var e = Array("egypt", "erosion");
  var f = Array("foreign");
  var g = Array("glass", "greece");
  var h = Array("hazardous", "highway");
  var i = Array("illusion", "invocation");
  var j = Array("journal");
  var k = Array("key");
  var l = Array("lake", "landscape", "light", "luxuriant");
  var m = Array("medicine", "modern", "mountain");
  var n = Array("national", "north");
  var o = Array("organization");
  var p = Array("paper", "performer", "plague", "portugal", "pyramid");
  var q = Array("question");
  var r = Array("rock");
  var s = Array("sand");
  var t = Array("transport");
  var u = Array("urban", "utility");
  var v = Array("voice");
  var w = Array("winter", "work", "writing");
  var y = Array("year");
  var z = Array( "zero", "zoo");

  var letra_a = a[Math.floor(Math.random()*a.length)];
  var letra_b = b[Math.floor(Math.random()*b.length)];
  var letra_c = c[Math.floor(Math.random()*c.length)];
  var letra_d = d[Math.floor(Math.random()*d.length)];
  var letra_e = e[Math.floor(Math.random()*e.length)];
  var letra_f = f[Math.floor(Math.random()*f.length)];
  var letra_g = g[Math.floor(Math.random()*g.length)];
  var letra_h = h[Math.floor(Math.random()*h.length)];
  var letra_i = i[Math.floor(Math.random()*i.length)];
  var letra_j = j[Math.floor(Math.random()*j.length)];
  var letra_k = k[Math.floor(Math.random()*k.length)];
  var letra_l = l[Math.floor(Math.random()*l.length)];
  var letra_m = m[Math.floor(Math.random()*m.length)];
  var letra_n = n[Math.floor(Math.random()*n.length)];
  var letra_o = o[Math.floor(Math.random()*o.length)];
  var letra_p = p[Math.floor(Math.random()*p.length)];
  var letra_q = q[Math.floor(Math.random()*q.length)];
  var letra_r = r[Math.floor(Math.random()*r.length)];
  var letra_s = s[Math.floor(Math.random()*s.length)];
  var letra_t = t[Math.floor(Math.random()*t.length)];
  var letra_u = u[Math.floor(Math.random()*u.length)];
  var letra_v = v[Math.floor(Math.random()*v.length)];
  var letra_w = w[Math.floor(Math.random()*w.length)];
  var letra_y = y[Math.floor(Math.random()*y.length)];
  var letra_z = z[Math.floor(Math.random()*z.length)];


  $(document).ready(function(){
             $("div#g" + letra_a).addClass("g-visible um");
             $("div#g" + letra_b).addClass("g-visible dois");
             $("div#g" + letra_c).addClass("g-visible tres");
             $("div#g" + letra_d).addClass("g-visible quatro");
             $("div#g" + letra_e).addClass("g-visible cinco");
             $("div#g" + letra_f).addClass("g-visible seis");
             $("div#g" + letra_g).addClass("g-visible sete");
             $("div#g" + letra_h).addClass("g-visible oito");
             $("div#g" + letra_i).addClass("g-visible nove");
             $("div#g" + letra_j).addClass("g-visible dez");
             $("div#g" + letra_k).addClass("g-visible onze");
             $("div#g" + letra_l).addClass("g-visible doze");
             $("div#g" + letra_m).addClass("g-visible treze");
             $("div#g" + letra_n).addClass("g-visible catorze");
             $("div#g" + letra_o).addClass("g-visible quinze");
             $("div#g" + letra_p).addClass("g-visible desassseis");
             $("div#g" + letra_q).addClass("g-visible desassete");
             $("div#g" + letra_r).addClass("g-visible dezoito");
             $("div#g" + letra_s).addClass("g-visible dezanove");
             $("div#g" + letra_t).addClass("g-visible vinte");
             $("div#g" + letra_u).addClass("g-visible vinte-e-um");
             $("div#g" + letra_v).addClass("g-visible vinte-e-dois");
             $("div#g" + letra_w).addClass("g-visible vinte-e-tres");
             $("div#g" + letra_y).addClass("g-visible vinte-e-quatro");
             $("div#g" + letra_z).addClass("g-visible vinte-e-cinco");
        });

{% assign cats_list = site.categories %}  
      {% if cats_list.first[0] == null %}
        {% for cat in cats_list %} 
        {% endfor %}
      {% else %}
        {% for cat in cats_list %} 
        var i{{ cat[0] }} = Math.ceil(Math.random()*{{ cat[1].size }});

        $(document).ready(function(){
             $("li#" +  "{{ cat[0] }}" +  i{{ cat[0] }}).addClass("g-visible");
        });
        {% endfor %}
      {% endif %}
    {% assign tags_list = nil %}


</script>