<script type="text/javascript">

            {% assign tags =  site.imagens | map: 'tags' | join: ','  | split: ',' | sort %}
            {% assign previousTag = "" %}
            {% assign counter = 0 %}

            {% for currentTag in tags %}

              {% if previousTag == "" %}
                {% assign previousTag = currentTag %}
              {% endif %}

              {% if currentTag == previousTag %}
                {% assign counter = counter | plus: 1 %}
              {% else %}
                   function {{ previousTag }}{{ counter }}()
                    {
                     return "/assets/imgs/{{ previousTag }}/" + Math.ceil(Math.random()*{% if counter %}{{ counter }}{% else %}1 {% endif %}) + ".jpg"
                    };

                  $(document).ready(function(){
                       $("img#{{ previousTag }}").attr("src", {{ previousTag }}{{ counter }});
                  });
                {% assign counter = 1 %}
              {% endif %}

              {% if forloop.last %}
                function {{ previousTag }}{{ counter }}()
                    {
                     return "/assets/imgs/{{ previousTag }}/" + Math.ceil(Math.random()*{% if counter %}{{ counter }}{% else %}1 {% endif %}) + ".jpg"
                    };

                  $(document).ready(function(){
                       $("img#{{ previousTag }}").attr("src", {{ previousTag }}{{ counter }});
                  });
              {% endif %}

              {% assign previousTag = currentTag %}

            {% endfor %}


  
</script>
    