<div id="scotch-panel">
     <a href="#" class="toggle-panel close"></a>
     <h2 class="panel-title">Palavras-chave</h2>

    <div class="row no-margin">
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">
            <ul>
                <li><a data-toggle="collapse" href="#letra-a" class="letra">A</a>
                    <ul class="collapse out show submenu" id="letra-a">
                        <li><a href="">Agriculture</a></li>
                        <li><a href="">Alarm</a></li>
                        <li><a href="">Antiquity</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-b" class="letra">B</a>
                    <ul class="collapse out show submenu" id="letra-b">
                        <li><a href="">Beach</a></li>
                        <li><a href="">Business</a></li>
                        <li><a id="burning" href="">Burning<span>({{ site.categories.burning | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-c" class="letra">C</a>
                    <ul class="collapse out show submenu" id="letra-c">
                        <li><a href="">Camera</a></li>
                        <li><a href="">Canal</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-d" class="letra">D</a>
                    <ul class="collapse out show submenu" id="letra-d">
                        <li><a href="">Dancing</a></li>
                        <li><a href="">Desert</a></li>
                        <li><a href="">Dress</a></li>
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">        
            <ul>
                <li><a data-toggle="collapse" href="#letra-e" class="letra">E</a>
                    <ul class="collapse out show submenu" id="letra-e">
                        <li><a href="">Egypt</a></li>
                        <li><a href="">Electronics</a></li>
                        <li><a href="">Erosion</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-f" class="letra">F</a>
                    <ul class="collapse out show submenu" id="letra-f">
                        <li><a href="">Foreign</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-g" class="letra">G</a>
                    <ul class="collapse out show submenu" id="letra-g">
                        <li><a href="">Glass</a></li>
                        <li><a href="">Greece </a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-h" class="letra">H</a>
                    <ul class="collapse out show submenu" id="letra-h">
                        <li><a href="">Hazardous </a></li>
                        <li><a href="">Highway</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-i" class="letra">I</a>
                    <ul class="collapse out show submenu" id="letra-i">
                        <li><a href="">Illusion</a></li>
                        <li><a href="">Invocation</a></li>
                    </ul>
                </li>              
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">        
            <ul>
                <li><a data-toggle="collapse" href="#letra-j" class="letra">J</a>
                    <ul class="collapse out show submenu" id="letra-j">
                        <li><a href="">Journal</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-k" class="letra">K</a>
                    <ul class="collapse out show submenu" id="letra-k">
                        <li><a href="">Key</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-l" class="letra">L</a>
                    <ul class="collapse out show submenu" id="letra-l">
                        <li><a href="">Lake</a></li>
                        <li><a href="">Light</a></li>
                        <li><a href="">Luxuriant</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-m" class="letra">M</a>
                    <ul class="collapse out show submenu" id="letra-m">
                        <li><a href="">Medicine</a></li>
                        <li><a href="">Modern</a></li>
                        <li><a href="">Mountain</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-n" class="letra">N</a>
                    <ul class="collapse out show submenu" id="letra-n">
                        <li><a href="">National</a></li>
                        <li><a href="">North</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">  
            <ul>
                <li><a data-toggle="collapse" href="#letra-o" class="letra">O</a>
                    <ul class="collapse out show submenu" id="letra-o">
                        <li><a href="">Organization</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-p" class="letra">P</a>
                    <ul class="collapse out show submenu" id="letra-p">
                        <li><a href="">Paper</a></li>
                        <li><a href="">Performer</a></li>
                        <li><a href="">Plagues</a></li>
                        <li><a href="">Portugal</a></li>
                        <li><a href="">Pyramid</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-q" class="letra">Q</a>
                    <ul class="collapse out show submenu" id="letra-q">
                        <li><a href="">Question</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-R" class="letra">R</a>
                    <ul class="collapse out show submenu" id="letra-R">
                        <li><a href="">Rock</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-s" class="letra">S</a>
                    <ul class="collapse out show submenu" id="letra-s">
                        <li><a href="">Sand</a></li>
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">  
            <ul>
                <li><a data-toggle="collapse" href="#letra-t" class="letra">T</a>
                    <ul class="collapse out show submenu" id="letra-t">
                        <li><a id="transport" href="/transport/1.html" id="">Transport <span>({{ site.categories.transport | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-u" class="letra">U</a>
                    <ul class="collapse out show submenu" id="letra-u">
                        <li><a href="">Urban</a></li>
                        <li><a href="">Utility</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-v" class="letra">V</a>
                    <ul class="collapse out show submenu" id="letra-v">
                        <li><a href="">Voice</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-w" class="letra">W</a>
                    <ul class="collapse out show submenu" id="letra-w">
                        <li><a href="">Winter</a></li>
                        <li><a href="">Work</a></li>
                        <li><a href="">Writing</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-x" class="letra">X</a>
                    <ul class="collapse out show submenu" id="letra-x">
                        <li><a href="">Xylophone</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">  
            <ul>
                
                <li><a data-toggle="collapse" href="#letra-y" class="letra">Y</a>
                    <ul class="collapse out show submenu" id="letra-y">
                        <li><a href="">Year</a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-z" class="letra">Z</a>
                    <ul class="collapse out show submenu" id="letra-z">
                        <li><a href="">Zero</a></li>
                        <li><a href="">Zoo</a></li>
                    </ul>
                </li>               
            </ul>
        </div>         
    </div>
</div>