<div id="scotch-panel">
     <a href="#" class="toggle-panel close"></a>
     <h2 class="panel-title">palavras-chave</h2>

    <div class="row no-margin">
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">
            <ul >
                <li><a data-toggle="collapse" href="#letra-a" class="letra">a</a>
                    <ul class="collapse out show submenu" id="letra-a">
                        <li><a id="agriculture" href="#">agriculture <span>({{ site.categories.agriculture | size }})</span></a></li>
                        <li><a id="alarm" href="#">alarm <span>({{ site.categories.alarm | size }})</span></a></li>
                        <li><a id="antiquity" href="">antiquity <span>({{ site.categories.antiquity | size }})</span></a>  </li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-b" class="letra">b</a>
                    <ul class="collapse out show submenu" id="letra-b">
                        <li><a id="beach" href="">beach <span>({{ site.categories.beach | size }})</span></a></li>
                        <li><a id="business" href="">business <span>({{ site.categories.business | size }})</span></a></li>
                        <li><a id="burning" href="#">burning <span>({{ site.categories.burning | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-c" class="letra">c</a>
                    <ul class="collapse out show submenu" id="letra-c">
                        <li><a id="camera" href="">camera <span>({{ site.categories.camera | size }})</span></a></li>
                        <li><a id="canal" href="">canal <span>({{ site.categories.canal | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-d" class="letra">d</a>
                    <ul class="collapse out show submenu" id="letra-d">
                        <li><a id="dancing" href="">dancing <span>({{ site.categories.dancing | size }})</span></a></li>
                        <li><a id="desert" href="">desert <span>({{ site.categories.desert | size }})</span></a></li>
                        <li><a id="dress" href="">dress <span>({{ site.categories.dress | size }})</span></a></li>
                    </ul>
                </li>                
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">        
            <ul>
                <li><a data-toggle="collapse" href="#letra-e" class="letra">e</a>
                    <ul class="collapse out show submenu" id="letra-e">
                        <li><a id="egypt" href="">egypt <span>({{ site.categories.egypt | size }})</span></a></li>
                        <li><a id="erosion" href="">erosion <span>({{ site.categories.erosion | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-f" class="letra">f</a>
                    <ul class="collapse out show submenu" id="letra-f">
                        <li><a id="foreign" href="">foreign <span>({{ site.categories.foreign | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-g" class="letra">g</a>
                    <ul class="collapse out show submenu" id="letra-g">
                        <li><a id="glass" href="">glass <span>({{ site.categories.glass | size }})</span></a></li>
                        <li><a id="greece" href="">greece <span>({{ site.categories.greece | size }})</span> </a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-h" class="letra">h</a>
                    <ul class="collapse out show submenu" id="letra-h">
                        <li><a id="hazardous" href="">hazardous <span>({{ site.categories.hazardous | size }})</span></a></li>
                        <li><a id="highway" href="">highway <span>({{ site.categories.highway | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-i" class="letra">i</a>
                    <ul class="collapse out show submenu" id="letra-i">
                        <li><a id="illusion" href="">illusion <span>({{ site.categories.illusion | size }})</span></a></li>
                        <li><a id="invocation" href="">invocation <span>({{ site.categories.invocation | size }})</span></a></li>
                    </ul>
                </li>              
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">        
            <ul>
                <li><a data-toggle="collapse" href="#letra-j" class="letra">j</a>
                    <ul class="collapse out show submenu" id="letra-j">
                        <li><a id="journal" href="">journal <span>({{ site.categories.journal | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-k" class="letra">k</a>
                    <ul class="collapse out show submenu" id="letra-k">
                        <li><a id="key" href="">key <span>({{ site.categories.key | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-l" class="letra">l</a>
                    <ul class="collapse out show submenu" id="letra-l">
                        <li><a id="lake" href="">lake <span>({{ site.categories.lake | size }})</span></a></li>
                        <li><a id="light" href="">light <span>({{ site.categories.light | size }})</span></a></li>
                        <li><a id="luxuriant" href="">luxuriant <span>({{ site.categories.luxuriant | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-m" class="letra">m</a>
                    <ul class="collapse out show submenu" id="letra-m">
                        <li><a id="medicine" href="">medicine <span>({{ site.categories.medicine | size }})</span></a></li>
                        <li><a id="modern" href="">modern <span>({{ site.categories.modern | size }})</span></a></li>
                        <li><a id="mountain" href="">mountain <span>({{ site.categories.mountain | size }})</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">  
            <ul>
                <li><a data-toggle="collapse" href="#letra-n" class="letra">n</a>
                    <ul class="collapse out show submenu" id="letra-n">
                        <li><a id="national" href="">national <span>({{ site.categories.national | size }})</span></a></li>
                        <li><a id="north" href="">north <span>({{ site.categories.north | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-o" class="letra">o</a>
                    <ul class="collapse out show submenu" id="letra-o">
                        <li><a id="organization" href="">organization <span>({{ site.categories.organization | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-p" class="letra">p</a>
                    <ul class="collapse out show submenu" id="letra-p">
                        <li><a id="paper" href="">paper <span>({{ site.categories.paper | size }})</span></a></li>
                        <li><a id="performer" href="">performer <span>({{ site.categories.performer | size }})</span></a></li>
                        <li><a id="plagues" href="">plagues <span>({{ site.categories.plagues | size }})</span></a></li>
                        <li><a id="portugal" href="">portugal <span>({{ site.categories.portugal | size }})</span></a></li>
                        <li><a id="pyramid" href="">pyramid <span>({{ site.categories.pyramid | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-q" class="letra">q</a>
                    <ul class="collapse out show submenu" id="letra-q">
                        <li><a id="question" href="">question <span>({{ site.categories.question | size }})</span></a></li>
                    </ul>
                </li>
                          
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">  
            <ul>
                <li><a data-toggle="collapse" href="#letra-r" class="letra">r</a>
                    <ul class="collapse out show submenu" id="letra-r">
                        <li><a id="rock" href="">rock <span>({{ site.categories.rock | size }})</span> </a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-s" class="letra">s</a>
                    <ul class="collapse out show submenu" id="letra-s">
                        <li><a id="sand" href="">sand <span>({{ site.categories.sand | size }})</span></a></li>
                    </ul>
                </li>      
                <li><a data-toggle="collapse" href="#letra-t" class="letra">t</a>
                    <ul class="collapse out show submenu" id="letra-t">
                        <li><a id="transport" href="/transport/1.html" id="">transport <span>({{ site.categories.transport | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-u" class="letra">u</a>
                    <ul class="collapse out show submenu" id="letra-u">
                        <li><a id="urban" href="">urban <span>({{ site.categories.urban | size }})</span></a></li>
                        <li><a id="utility" href="">utility <span>({{ site.categories.utility | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-v" class="letra">v</a>
                    <ul class="collapse out show submenu" id="letra-v">
                        <li><a id="voice" href="">view <span>({{ site.categories.view | size }})</span></a></li>
                        <li><a id="voice" href="">voice <span>({{ site.categories.voice | size }})</span></a></li>
                    </ul>
                </li>
                
            </ul>
        </div>
        <div class="col-md-2 col-sm-3 no-gutters multi-menu">  
            <ul>
                <li><a data-toggle="collapse" href="#letra-w" class="letra">w</a>
                    <ul class="collapse out show submenu" id="letra-w">
                        <li><a id="winter" href="">winter <span>({{ site.categories.winter | size }})</span></a></li>
                        <li><a id="work" href="">work <span>({{ site.categories.work | size }})</span></a></li>
                        <li><a id="writing" href="">writing <span>({{ site.categories.writing | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-x" class="letra">x</a>
                    <ul class="collapse out show submenu" id="letra-x">
                        <li><a id="xylophone" href="">xylophone <span>({{ site.categories.xylophone | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-y" class="letra">y</a>
                    <ul class="collapse out show submenu" id="letra-y">
                        <li><a id="year" href="">year <span>({{ site.categories.year | size }})</span></a></li>
                    </ul>
                </li>
                <li><a data-toggle="collapse" href="#letra-z" class="letra">z</a>
                    <ul class="collapse out show submenu" id="letra-z">
                        <li><a id="zero" href="">zero <span>({{ site.categories.zero | size }})</span></a></li>
                        <li><a id="zoo" href="">zoo <span>({{ site.categories.zoo | size }})</span></a></li>
                    </ul>
                </li>               
            </ul>
        </div>         
    </div>
</div>