---
layout: alternate-1
title: "home"
subtitle: "—"
---


<script type="text/javascript">
  
  var items = Array("agriculture", "alarm", "antiquity", "beach", "burning", "business", "camera", "canal", "dancing", "desert", "dress", "egypt", "erosion", "foreign", "glass", "greece", "hazardous", "highway", "illusion", "invocation", "journal", "key", "lake", "landscape", "light", "luxuriant", "medicine", "modern", "mountain", "national", "north", "organization", "paper", "performer", "plague", "portugal", "pyramid", "question", "rock", "sand", "transport", "urban", "utility", "voice", "winter", "work", "writing", "year", "zero", "zoo");
  var item = items[Math.floor(Math.random()*items.length)];

  window.location = "/" + item + "/1.html";

</script>


<!--<div class="home">

  <h1 class="page-heading">Posts</h1>
  
  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>

</div>-->
