---
layout: default
---
<article class="post " itemscope itemtype="http://schema.org/BlogPosting">



<div class="row">
  <div class="post-img col-md-6 col-sm-12" itemprop="articleBody">
     <img id="transport" src="/assets/imgs/transport/1-v.jpg">
  </div>
  <div class="post-content col-md-6 col-sm-12" itemprop="articleBody">
   <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
   <p class="post-meta">{% if page.author %}
      <h6 itemprop="author" itemscope itemtype="http://schema.org/Person"><h6 itemprop="name">{{ page.author }}</h6></h6>
      {% endif %}
    </p>
    {{ content }}
  </div>
</div>



  {% if site.disqus.shortname %}
    {% include disqus_comments.html %}
  {% endif %}
</article>
